<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo">
        <a href="/">
            <img alt="logo" height="60px" th:src="@{/image/logo.svg}" width="60">
        </a>
    </div>
    <div class="menu">
        <ul>
            <li><a class="button-click doctor-button" th:href="@{/save}">New product</a></li>
            <li><a class="button-click doctor-button" th:href="@{/home}">List products</a></li>
        </ul>
    </div>
    <div class="tel">
        <a href="tel:88000000000">8 800 0000 000</a>
    </div>
</header>
<div>
    <form action="#" th:action="@{/save}" th:object="${product}" method="post">
        <label for="id">Id:</label>
        <input type="text" id="id" th:field="*{id}"/>
        <br/>
        <label for="text">Text:</label>
        <input type="text" id="text" th:field="*{text}"/>
        <br/>
        <label for="text">Status:</label>
        <input type="text" id="status" th:field="*{status}"/>
        <br/>
        <label for="text">Type:</label>
        <input type="text" id="type" th:field="*{type}"/>
        <br/>
        <label for="externalId">ExternalId:</label>
        <input type="text" id="externalId" th:field="*{externalId}"/>
        <br/>
        <button type="submit">Создать</button>
    </form>
</div>
<footer>
    <p>Copyright ©
        <time datetime="2025">2025</time>
        nzcheinenm
    </p>
</footer>
</body>