<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo">
        <a href="/">
            <img alt="logo" height="60px" th:src="@{/image/logo.svg}" width="60">
        </a>
    </div>
    <div class="menu">
        <ul>
            <li><a class="button-click doctor-button" th:href="@{/save}">New product</a></li>
            <li><a class="button-click doctor-button" th:href="@{/home}">List products</a></li>
        </ul>
    </div>
    <div class="tel">
        <a href="tel:88000000000">8 800 0000 000</a>
    </div>
</header>
<div class="container">
    <div id="title">
        <h1>Products</h1>
    </div>
    <div>
        <ul class="products clearfix">
            <li class="product-wrapper" id="allProducts" th:each="prod : ${products}">
                <span class="product">
                    <img alt="logo" th:src="@{/image/logo.svg}">
                    <p>
                        <span th:text="${prod.id}"></span>
                    </p>
                    <span th:text="${prod.status}"></span>
                    <span th:text="${prod.createdDate}"></span>
                    <span th:text="${prod.email}"></span>
                    <span th:text="${prod.text}"></span>
                </span>
            </li>
        </ul>
    </div>

</div>
<footer>
    <p>Copyright ©
        <time datetime="2025">2025</time>
        nzcheinenm
    </p>
</footer>
</body>